* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    color: white;
}

.content {
  top: 50%; /* Отступ в процентах от верхнего края окна */
  left: 50%; /* Отступ в процентах от левого края окна */
}


#clock {
    font-size: 80px;
}

#color {
    font-size: 20px;
}
