* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    color: white;
    text-align: center;
    margin-top: 25%;
}

#clock {
    font-size: 80px;
}

#color {
    font-size: 20px;
}